body
{
	background-color: gray;
	font-family: Verdana;
	font-size: 20px;	
	color: black;	
}

/*Nieodwiedzony link*/
a:link
{
	color: black;
}

/*Odwiedzony link*/
a:visited
{
	color: black;
}

/*Link po najechaniu kursorem*/
a:hover
{
	color: mediumblue;
}

#container
{
	width: 1450px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	background-color: black;
	text-align: center;
	padding: 15px;
}

#nav
{
	float: left;
	width: 180px;
	height: 2080px;
	padding-top: 50px;
	text-align: center;
	background-color: dodgerblue;
}

#content
{
	float: left;
	width: 1050px; 
	height: 2080px;
	padding-left: 40px;
	padding-top: 40px;
	background-color: steelblue;
}

#ad
{
	float: left;
	width: 180px;
	height: 2080px;
	background-color: dodgerblue;
}

#footer
{
	clear: both;
	text-align: center;
	padding: 15px;
	background-color: darkblue;
}